body {
    background:url('https://i.pinimg.com/originals/b6/a4/be/b6a4bebd4e179141ca2e0003fc783c06.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    /* padding: 100px 0; */
    background-position: 30% 45%;
    background-size: cover;
    margin: 0;

    overflow-y: hidden;
    overflow-x: hidden;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: 1px solid white;
    background: white;
    opacity: 0.7;
    border-radius: 0 13px 0 0;
}

.vidas {
    margin-top: 10px;
}

.cronometro {
    font-size: 20px;
    font-weight: bold;
}

.mosquito-1 {
    width: 50px;
    height: 50px;
}

.mosquito-2 {
    width: 60px;
    height: 60px;
}

.mosquito-3 {
    width: 75px;
    height: 75px;
}

.mosquito-4 {
    width: 100px;
    height: 100px;
}

.mosquito-5 {
    width: 125px;
    height: 125px;
}

.mosquito-6 {
    width: 150px;
    height: 150px;
    opacity: 0.5;
}

.mosquito-7 {
    width: 75px;
    height: 75px;
    opacity: 0.5;
}

.lado-a {
    transform: scaleX(1);
}

.lado-b {
    transform: scaleX(-1);
}